# Aleph-w C++ Code Style
# Based on project conventions: 2 spaces, next-line indented braces, prefer and/or/not

BasedOnStyle: LLVM

# Indentation
IndentWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -2
IndentCaseLabels: false
NamespaceIndentation: None

# Braces (Next-line indented: Custom style with IndentBraces: true)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  BeforeLambdaBody: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: true
  SplitEmptyFunction: false

# Line breaks
ColumnLimit: 100
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakString: 1000
PenaltyExcessCharacter: 10
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyReturnTypeOnItsOwnLine: 200
AlwaysBreakBeforeMultilineStrings: true
LambdaBodyIndentation: OuterScope

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 2
SpaceInEmptyParentheses: false
SpacesInAngles: Never

# Alignment
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AlignEscapedNewlines: Right
PointerAlignment: Right
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Other
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
Standard: c++20
