# Aleph-w C++ Code Style
# Based on project conventions: 2 spaces, next-line indented braces, prefer and/or/not

BasedOnStyle: LLVM

# Indentation
IndentWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -2
IndentCaseLabels: false
NamespaceIndentation: None

# Braces (Next-line indented: Custom style with IndentBraces: true)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: true
  SplitEmptyFunction: false

# Line breaks
ColumnLimit: 120
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: MultiLine
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 2
SpaceInEmptyParentheses: false

# Alignment
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AlignEscapedNewlines: Right
PointerAlignment: Right
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments

# Other
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
Standard: c++20
