.gitignore
submit
*.*bak*
*.o
*.dat
*.dot
*.tex
*.pdf
Aleph-w-Doc-English/*.C
*~
.graphpic
.project
Aleph-w-Doc-English/*
Imakefile.leandro
MCFsimplex.pptx
Makefile
Quad_Tree.tbz_[R20324]/*
aleph-valgrind.log
aleph-w.config
aleph-w.creator
aleph-w.creator.user
aleph-w.files
aleph-w.includes
aleph.supp
aum-1.mf
aum-2.mf
aum-3.mf
aum-4.mf
bintree.tree
bitArray.H.backup
btreepic
build-tar
build_dist
build_doc
capas.dia
deway
doxy
eepicgeom.o-89ccbdd3
evalExp
examen-01
exdata-015_Principles_of_Analytic_Graphs.txt
fibonacci
g1000
gen_rand_graph
generate_forest
grafo_archivos
graphpic
invertir_arreglos
invertir_lista
joseph
leame
libAleph.a
logo-small.png
moda
no_search
ntreepic
number_generator
out
plantilla
polinom
primo_hash
pushrelabel1.ppt
raiz
rand-tree-aux.Tree
red.eepic
red.eps
red.mp
red.png
seleccion
sourceforge/*
test-dispatch
test-flatten
test-odhash
test-stl-utils
test-string
test-zip-it
testSplayRk1
testSplayTree
test-al
test-bloom
test-bsearch
test-cmp
test-cut.Tree
test-digraph
test-dry
test-emplace
test-filter
test-forward
test-graph-dry
test-in-out
test-itor
test-join
test-lambda
test-map
test-matrix
test-memarray
test-net
test-netcost
test-rvalues
test-splice
test-sq
test-suffix-tree
test-tmp
test-traverse
test-tree-itor
test-tree-pos
test-vector
test.png
test.xml
test1.png
test2.png
testAlgo
testAllTree
testArrayHeap
testArrayQueue
testAvl
testBalance
testBinHeap
testBinHeapPtr
testBinNode
testBinNode.o-675e0840
testBinNodeUtils
testBinNodeXt
testBinTree
testBitArray
testCache
testDlink
testDlink.o-185a0a81
testDlist
testDnode
testDynArray
testDynBinHeap
testDynDlist
testDynHash
testDynLinHash
testDynListQueue
testDynListStack
testDynMapTree
testDynMat
testDynSetHash
testDynSetTree
testDynSlist
testElemSort
testFib
testFunctional
testHash
testInsertRoot
testInss
testJoin
testLinHash
testList
testLuka
testMap
testMerge
testMultimap
testMultiset
testNew
testOhash
testOpBinTree
testProtectedCache
testQueue
testSet
testSkipList
testSlink
testSlist
testSlist-mod
testSnode
testSort
testSplit
testTreap
testTreapRk
testUid
testVector
test_2dtree
test_agraph
test_bellman
test_bin_to_tree
test_bipartite
test-comb
test-con-queue
test_copy_graph
test_cpp_cont
test_cut
test_cut_nodes
test_dijkstra
test_dynArray-cut
test_dynSetTree
test_dyn_sort_utils
test_eepicgeom
test_ellipse
test_eulerian
test_find_path
test_floyd
test_gen_tree
test_generate_graph
test_generate_spanning
test_graph
test_graph_to_tree
test_hash_cache
test_htlist
test_huffman
test_in_graph
test_io_graph
test_karger
test_kgraph
test_kosaraju
test_leveltree
test_load_eugraph
test_matgraph
test_min_path
test_min_spanning
test-pair-it
test_point
test_polygon
test-quadtree
test_ranarray
test_rand_tree
test_random_graph
test_random_net
test_random_search
test_rb_tree
test_rk
test_search
test_search_deway
test_sgraph
test_shift
test_simplex
test_sort
test_sort_array
test_sort_ex
test_sort_lists
test_sortdyna
test_splayRk
test_splay_tree
test_tarjan
test_top_sort
test_tree_node
test_union
test-convexhull-time
timeAllTree
timeList-aleph
timeList-stl
timeMap-aleph
timeMap-stl
timeMultimap-aleph
timeMultimap-stl
timeMultiset-aleph
timeMultiset-stl
timeSet-aleph
timeSet-stl
timeVector-aleph
timeVector-stl
tpl_binNodeUtils.H.orig
tpl_dynSetTree.H.backup
tree-test.txt
wordch
work_multimap
writeAllTrees
writeAvl
writeBalance
writeBinTree
writeHeap
writeJoin
writeRandTree
writeRankTree
writeRb
writeSplay
writeSplit
writeTreap
write_floyd
write_huffman
x.log
ah-dry
ah-functional
ah-zip
al-domain
al-vector
array-it
array_utils
arrayqueue
arraystack
bin-node
dlink
dnode
dyndlist
dynlist
dynlistqueue
dynliststack
dynsetohash
fixedstack
hash-it
htlist
memarray
odhash
slinknc
snodenc
tree-node
.idea/
build/*
cmake-build-debug
cmake-build-release/
